a {
    text-decoration: none;
    color: inherit; /*inherit берет цвет от родителя */
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #0A0A0A;
}

.header {
    background-color: #0A0A0A;
    padding: 33px 0 32px;
    color: #717171;

    font-size: 24px;
    line-height: 29px; /*высота строки*/
}

.container {
    max-width: 1160px; /*максимальная ширина или столько сколько есть места(задаем для адаптива)*/
    margin: 0 auto; /*по центру*/
    padding: 0 20px; /* не по плану*/
}

.nav { /*родитель menu, logo, phone*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-grow: 1; /*сдвинули к центру logo/phone*/
    flex-basis: 0; /*сдвинули к центру logo/phone*/
}

.phone {
    flex-grow: 1; /*сдвинули к центру logo/phone*/
    flex-basis: 0; /*сдвинули к центру logo/phone*/
    text-align: right; /*сдвинули вправо phone*/
    font-size: 24px;
    line-height: 29px;
}

.menu-item {
    padding-right: 30px;
}

.headliner {
    background-color: #F5F5F7;
    text-align: center;
    padding: 70px 0 40px;
}

.title {
    text-transform: uppercase;
    margin: 0 0 40px; /*отступачя от верхнего контента к нижнему мы задаем margin*/
    color: #490E84;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
}

.headline-img {
    margin-bottom: 25px;
}

.headline-btn {
    display: inline-block; /* <a> это строчный элемен и чтобы книму приминялись как строчные так и блочные свойства пишем display: inline-block*/
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #fff;
    background-color: #490E84;
    padding: 22px 117px 19px;
    border-radius: 30px;
}

.new {
    padding: 87px 0 150px;
}

.new-title,
.color-title {
    margin: 0 0 50px;
    text-transform: uppercase;
    text-align: center;
    color: #717171;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}

.new-info {
    display: flex;
}

.new-text p {
    max-width: 560px;
    margin: 0 0 30px;
}

.new-text b {
    max-width: 560px;
    font-size: 20px;
    line-height: 26px;
    display: block; /*делаем так потому-что он (<b>) строчный и не сработает max-width*/
}

.images-new {
    margin-left: 190px;
}

.color {
    margin-bottom: 150px;
}

.color-list {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.color-item img {
    margin-bottom: 20px;
    /*width: 100%;*/
}

.color-item h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #0A0A0A;
    margin: 0 0 10px;
}

.color-item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #0A0A0A;
}

.contacts-inner {
    display: flex;
    color: #ffffff;
}

.contacts-form {
    width: 100%;
    padding: 137px 93px 94px;
    background-color: #574B63;
    text-align: center;
}

.contacts-title {
    margin: 0 0 70px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: left;
}

.contacts-input {
    padding: 0 0 10px;
    display: block;
    width: 100%;
    background-color: #574B63;
    border: none;
    border-bottom: solid 1px #ffffff;
    margin-bottom: 30px;
    outline: none;
}

.contacts-input::placeholder {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    opacity: .5; /*прозрачность(color) 50% */
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.contacts-form p {
    color: #ffffff;
    opacity: .5;
    text-align: center;
    margin: 0 0 30px;
}

.contacts-img {
    width: 100%;
}

.contacts-form button {
    text-transform: uppercase;
    color: #490E84;
    background-color: #ffffff;
    border: none;
    border-radius: 30px;
    padding: 16px 81px; /* засчет padding увеличивается кнопка */
    font-weight: 400;
    cursor: pointer;
}

.footer {
    background-color: #0A0A0A;
}

.footer-inner {
    color: #717171;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 66px 0;
}

.footer-link {
    flex-basis: 0;
    flex-grow: 1;
}

@media (max-width: 1200px) {

    .headline-img {
        max-width: 100%; /*  max-width: 100%;*/
    }

    .contacts-inner {
        display: flex;
        flex-direction: column;
    }

    .contacts-form {
        width: auto;
    }

    .contacts-title {
        text-align: center;
    }

    .footer-inner {
        padding: 66px 20px;
    }
}

.menu-btn {
    display: none;
}

@media (max-width: 1100px) {
    .color-list {
        flex-wrap: wrap;
    }

    .color-item {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 940px) {
    .menu-btn {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: none;
        background-color: transparent;
        order: 1; /* это такое css свойство, которое может менять порядок flex элементов, flex элементы это “ребята” у которых у родителя прямого написано display:flex;  */
        cursor: pointer;
        position: relative;
        z-index: 50;
    }

    .logo,
    .phone {
        position: relative;
        z-index: 50;
    }

    .btn-line {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        height: 4px;
        transition: .3s ease;
    }

    .btn-line:nth-child(1) {
        top: 0;
    }

    .btn-line:nth-child(2) {
        top: 20px;
    }

    .btn-line:nth-child(3) {
        top: 20px;
    }

    .btn-line:nth-child(4) {
        top: 40px;
    }

    .menu-open .btn-line:nth-child(1) {
        transform: scaleX(0);
    }

    .menu-open .btn-line:nth-child(2) {
        transform: rotate(45deg);
    }

    .menu-open .btn-line:nth-child(3) {
        transform: rotate(-45deg);
    }

    .menu-open .btn-line:nth-child(4) {
        transform: scaleX(0);
    }

    .menu {
        /*display: none;*/
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #0A0A0A;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transform: translateY(-100%);
        transition: .3s;
    }

    .menu-open .menu {
        transform: translateY(0%);
    }

    .menu-item {
        padding: 50px 0;
        font-size: 56px;
    }

    .images-new {
        display: none;
    }

    .new-text p,
    .new-text b {
        max-width: 100%;
    }

    .phone {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .headliner,
    .new {
        padding: 50px 0 30px;
    }

    /*.color{*/
    /*    padding-bottom: 50px;*/
    /*}*/
}

@media (max-width: 640px) {
    .footer-inner {
        padding: 20px 0;
        flex-direction: column;
    }

    .footer-inner .logo {
        margin: 15px 0;
    }
}

@media (max-width: 560px) {
    .title {
        font-size: 34px;
        line-height: 42px;
    }

    .new-title,
    .color-title,
    .contacts-title {
        font-size: 28px;
        line-height: 32px;
    }

    .headline-btn {
        font-size: 18px;
        line-height: 22px;
        padding: 16px 90px;
    }

    .color-item,
    .color-item img { /* улутшаем качество картинки при уменьшении экраана*/
        width: 100%;
    }

    .contacts-form {
        padding: 50px 30px;
    }

    .color {
        margin: 0;
    }
}

@media (max-width: 420px) {
    .nav {
        flex-wrap: wrap;
    }

    .phone {
        flex-basis: auto;
        margin-top: 50px;
        order: 3;
        width: 100%;
    }

    .menu-item {
        font-size: 32px;
    }
}

@media (max-width: 375px) {
    .contacts-form {
        padding: 50px 10px;
    }
}